
html {
  scroll-behavior: smooth;
}
/* navbar */

.navbar{
  background-color:gray;

}

.navbar.colorChange{
  background-color: black;
}
.navbar.colorGreen{
  background-color:lightgreen;
}
.active{
  text-decoration: underline;
  color:lightgreen;

}


/* main */
.background{
  background-image: url("../public/assets/photo.jpg");
  /* background-image: url(""); */

  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;

}
.bg-text{
  background-color: rgb(26, 24, 24);
  height:50vh;
  width: 70vw;
  opacity: 0.6;
  color:white;
  border-radius: 15px;

}
hr{

  background-color: white;
}
.icon-react{
  color:aqua;
  font-size: 60px;
  margin:10px
}
.icon-mongo{
  color:green;
  font-size: 60px;
  margin:10px
}
.icon-express{
  color: white;
  font-size: 60px;
  margin:10px
}
.icon-node{
  color:greenyellow;
  font-size:60px;
  margin:10px
}
.icon-js{
  color:yellow;
  font-size: 60px;
  margin:10px
}
.icon-bs{
  color:purple;
  font-size: 60px;
  margin:10px
}
.icon-html{
  color:orange;
  font-size: 60px;
  margin:10px
}
.icon-css{
  color:blue;
  font-size: 60px;
  margin:10px
}
.icon-sass{
  color:plum;
  font-size: 60px;
  margin:10px
}
.icon-postg{
  color:rgb(74, 104, 185);
  font-size: 60px;
  margin:10px
}
/* bio */
.bio-bg{
  /* background-color: linear-gradient( blue, pink); */
    /* background-image: url("../public/assets/bio-img.jpg"); */
    background: linear-gradient(150deg, rgba(255,255,255,1) 0%, rgba(70,70,73,1) 100%);
    /* background-size: cover; */
    /* height: 100vh; */
    width: 100vw;
    /* opacity: 0.4; */
    /* position:relative; */
    

}
.bio-text{
  background-color: rgb(26, 24, 24);
  height:80vh;
  width: 42vw;
  /* opacity: 0.9; */
  color:white;
  border-radius: 15px;
  /* margin-left: 500px; */
  padding:3em;
  /* position:absolute ; */
  margin-top: 90px;
  margin-left: 100px;

 
}

.col-bg{
   background-image: url("../public/assets/bio-img.jpg");
   background-size: cover;
   opacity: 0.8;
   /* border-radius: 15px; */
   /* margin-top: 8em; */
   height: 100vh;
   width: 100vw;
  
}
.info{
  color:black;
} 
.bio-intro{
  background: linear-gradient(150deg, rgb(161, 159, 159) 0%, rgb(53, 53, 56) 100%);
    /* background-size: cover; */
    height: 20vh;
    width: 10px;
    padding:25px;
    margin-left: 15px;
    margin-top:90px;
    border-radius: 15px;
    opacity: 0.8;
  
}



/* Carosel */

.img{
border-radius: 15px;
height: 70vh;
margin-top: 5vh;
}
/* .section-bg{
  background-color: lightgreen;
  width: 100vw;
} */
.card-col{
  /* height: 54vh; */
  border-radius: 15px;
  background-color: black;
  color:white;
  /* margin-left: 15px; */
}
