html {
  scroll-behavior: smooth;
}
body {
  background-color: rgb(161, 159, 159);
  
  
}
/* navbar */

.navbar {
  background-color: rgb(161, 159, 159);
  
}

.navbar.colorChange {
  background-color: black;
}
/* .navbar.colorGreen {
  background-color: lightgreen;
} */
.active {
  text-decoration: underline;
  /* color: lightgreen; */
}
/* .logo-img{
  margin-left: 20%;
} */

.background {
  background-image: url("../public/assets/BG-mac-black.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 100vh;
  width: 100%; */
}
.bg-text {
  background-color: rgb(26, 24, 24);
  /* height: 50vh;
  width: 80vw; */
  opacity: 0.6;
  color: white;
  border-radius: 15px;
  margin-top: 15%;
}
hr {
  background-color: white;
}
.icon-react {
  color: aqua;
  font-size: 60px;
  margin: 10px;
}
.icon-mongo {
  color: green;
  font-size: 60px;
  margin: 10px;
}
.icon-express {
  color: white;
  font-size: 60px;
  margin: 10px;
}
.icon-node {
  color: greenyellow;
  font-size: 60px;
  margin: 10px;
}
.icon-js {
  color: yellow;
  font-size: 60px;
  margin: 10px;
}
.icon-bs {
  color: purple;
  font-size: 60px;
  margin: 10px;
}
.icon-html {
  color: orange;
  font-size: 60px;
  margin: 10px;
}
.icon-css {
  color: blue;
  font-size: 60px;
  margin: 10px;
}
.icon-sass {
  color: plum;
  font-size: 60px;
  margin: 10px;
}
.icon-postg {
  color: rgb(74, 104, 185);
  font-size: 60px;
  margin: 10px;
}
/* bio */
/* .bio-bg { */
  /* background-color: linear-gradient( blue, pink); */
  /* background-image: url("../public/assets/bio-img.jpg"); */
  /* background: linear-gradient(
    150deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(70, 70, 73, 1) 100%
  ); */
  
  /* background-size: cover; */
  /* height: 100vh; */
  /* width: 100vw; */
  /* opacity: 0.4; */
  /* position:relative; */
/* } */
.col-bg {
  /* background-image: url("../public/assets/bio-img.jpg"); */
  background-size:cover;
  opacity: 0.8;
  overflow: hidden;
  /* border-radius: 15px; */
  /* margin-top: 8em; */
   height: 35%;
  width: 100%; 
}
.bio-text {
  background-color: rgb(26, 24, 24);
  /* height: 80%;
  width: 42vw; */
  /* opacity: 0.9; */
  color: white;
  border-radius: 15px;
  /* margin-left: 500px; */
  padding: 5em;
  /* position:absolute ; */
  margin-top: 50px;
  margin-left: 100px;
}


.polka-dots{overflow: visible!important}
.info {
  color: black;
}
.bio-intro {
  background: linear-gradient(
    150deg,
    rgb(161, 159, 159) 0%,
    rgb(53, 53, 56) 100%
  );
  /* background-size: cover; */
  height: 15%;
  width: 100%;
  padding: 25px;
  margin-left: 15px;
  margin-top: 90px;
  border-radius: 15px;
  opacity: 0.8;
}
.wave-text span {
  display: inline-block;
  font-size: 3rem;
  animation: wave 3s ease-in-out infinite;
  margin-top: 3%;
  

}
.wave-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    margin: 2;
    color: #101010;
    font-family: 'Arial', sans-serif;
}
.wave-text span:nth-child(1) {
  animation-delay: 0s;
}
.wave-text span:nth-child(2) {
  animation-delay: 0.2s;
}
.wave-text span:nth-child(3) {
  animation-delay: 0.4s;
}

.wave-text span:nth-child(4) {
  animation-delay: 0.6s;
}
.wave-text span:nth-child(5) {
  animation-delay: 0.8s;
}
.wave-text span:nth-child(6) {
  animation-delay: 0.6s;
}
.wave-text span:nth-child(8) {
  animation-delay: 0.4s;
}
.wave-text span:nth-child(9) {
  animation-delay: 0.2s;
}
.wave-text span:nth-child(10) {
  animation-delay: 0.0s;
}
.wave-text span:nth-child(11) {
  animation-delay: 0.2s;
}
.wave-text span:nth-child(12) {
  animation-delay: 0.4s;
}
@keyframes wave {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-20px);
  }
}


@media screen and (max-width: 1366px) {
  svg text {
    font-size: 40px;
    font-weight: 300;
  }
}
@media screen and (min-width: 1300px) {
  svg text {
    font-size: 80px;
    font-weight: 400;
  }
}

@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 20%;
    /* fill: hsl(189, 68%, 75%); */
    fill: #333;
  }

  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffstet: -20%;
    fill: hsla(189, 68%, 75%, 0%);
  }
}
/* Carosel */

.img {
  border-radius: 15px;
  height: 70vh;
  margin-top: 5vh;
}
/* .section-bg{
  background-color: lightgreen;
  width: 100vw;
} */
.card-col {
  /* height: 54vh; */
  border-radius: 15px;
  background-color: black;
  color: white;
  /* margin-left: 15px; */
}
