/* navbar */

.navbar{
  background-color:transparent;

}

.navbar.colorChange{
  background-color: white;
}


/* main */
.background{
  /* background-image: url("../public/assets/photo.jpg"); */
  background-image: url("https://images.unsplash.com/photo-1496065187959-7f07b8353c55?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
  background-size: cover;
  height: 90vh;
  /* width: 100vw; */
  /* -webkit-clip-path: polygon(0 54%, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 54%, 100% 0, 100% 100%, 0 100%); */
}
.bg-text{
  background-color: rgb(26, 24, 24);
  height:50vh;
  width: 70vw;
  opacity: 0.6;
  color:gray;
  border-radius: 15px;
}
hr{

  background-color: white;
}

.bio-bg{
  /* background-color: linear-gradient( blue, pink); */
    /* background-image: url("../public/assets/bio-img.jpg"); */
    background: linear-gradient(150deg, rgba(255,255,255,1) 0%, rgba(70,70,73,1) 100%);
    background-size: cover;
    height: 100vh;
    width: 100%;
    /* opacity: 0.4; */
    /* position:relative; */
    

}
.bio-text{
  background-color: rgb(26, 24, 24);
  height:80vh;
  width: 50vw;
  /* opacity: 0.6; */
  color:gray;
  border-radius: 15px;
  /* margin-left: 500px; */
  padding:3em;
  /* position:absolute ; */
  margin-top: 90px;
 
}

.col-bg{
   background-image: url("../public/assets/bio-img.jpg");
   background-size: cover;
   opacity: 0.4;
   border-radius: 15px;
   /* margin-top: 8em; */
   height: 100vh;
   width: 100vw;
}
.info{
  color:white;
} 